<div class="full">
<h4 class="title">Latest News</h4>
<mat-divider>-</mat-divider>
<div class="scrollmenu">
  <div class="item" *ngFor="let new of new">
    <mat-card class="height">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{new.title}}</mat-card-title>
        <mat-card-subtitle>{{new.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{new.img}} alt="{{new.alt}}">
      <mat-card-content>
        <p>
          {{new.text}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
<div class="CommentBox mat-elevation-z8">
  <h1 class="title">Reviews</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
</div>
